@media screen and (max-width:700px){
    header .container{
        flex-direction: column;
        display: flex;
    }
    .botao{
        margin-top: 5px;
        width: 300px;
    }
}
@media screen and (max-width:1000px){
    .descricao{
        width: 50%;
    }
}